{:deps true

 :dev-http {3000 "public"}

 :builds {:reference-demo {:target  :browser
                           :modules {:reference-demo {:init-fn simple.reframe-demo/run}}}
          :vrac-demo      {:target  :browser
                           :modules {:vrac-demo {:init-fn simple.vrac-compiled-to-reframe-demo/run}}}}}
