{:deps true

 :dev-http {3000 "resources/public"}

 :nrepl {:port 9000}

 :builds {:client {:target     :browser
                   :output-dir "resources/public/js"
                   :modules    {:client {:init-fn simple.core/run}}}}}
