{:deps true

 :dev-http {3000 "resources/public"}

 :builds {:client {:target     :browser
                   :output-dir "resources/public/js"
                   :modules    {:client {:init-fn simple.reframe-core/run}}}}}
